<div class="container">
    <div class="row">
        <div class="col col-lg-4">
        </div>
        <div class="col col-lg-4">
                <div class="mt-5">
                    <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="sendEmail()">
                    <div class="h5 text-info">Please Enter your Email To reset the Password</div><hr>
                    <div class="form mt-3">
                            <input type="text" placeholder="please enter your Email" class="form-control" formControlName="Resetpassword">
                    </div>
                    <div class="form mt-3 form-group">
                        <button type="submit" class="btn btn-md form-control btn-info ">Send Email</button>
                   </div>
            </form>
                </div>
        </div>
        <div class="col col-lg-4">
        </div>
    </div>
</div>



